* {
    box-sizing: border-box;
}
body {  
    background-color: rgb(122, 14, 122)
}

#container {
    width: 90%;
    background-color: royalblue;
    
    margin: 0 auto;
}
h1, h2, h3, h4, h5, h6{
   font-family: 'Comfortaa' , cursive  
}

h1 {
    float: left;
}

#search{  

    float: left;
    padding:1.5em;
}
.clearfix::after{
    content:"";
    clear: both;
    display: table;
}

#navigation {
    background-color: black
    
}

 #navigation ul {
     list-style: none;
    Padding: 0;
 }

  #navigation li {
    float: left;
     padding: 10px 20x;
     border-right: 1px solid;
  }
#navigation li:hover {
    background-color: rgb(255, 136, 0); 
    cursor: pointer;
}

#promotions {
    background-color: rgb(199, 199,199);
} 
#promotions span {
    float: left;
    text-align: center;
    padding: 0.5em;
    font-weight: bold;
}

#promotions .arrow {
    width: 5%;
    background-color: white;
    font-size: 2em;
    padding: 0;
}

.promo {
    width: 90%; 
}


main {
    background-color: grey;
    width: 100%;
    min-height: 350px;
}


main > aside {
    float: left;
    width: 20%;
    background-color: Orange; 
    padding: 20px;
}









main > section {
    float: left;
    width: 80%;
    padding: 20 px;
    background-color:black;
    color: white;
}

aside select {
     width: 100%;
 }

 aside hr {
    border: none;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}

#product-listings {
    list-style: none;
    margin: 0;
    padding: 0;
}

.product {
    width: 30%;
    background-color: white;
    color: black;
    float: left;
    margin: 0 20px 20px 0;
}

.product img {
    width: 90%;
    margin: 10px auto;
    display: block;
}

.product h4, .product p, .product a {
    margin: 0; 
    text-align: center;
    display: block;
}


footer{
    background-color: whitesmoke;
    text-align: center;
}

footer p{
    padding: 10px;
    margin: 0;
}    
      
